<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENETIC API</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="icon" type="image/x-icon" href="/img/icon.ico"> -->
</head>
<body
    style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; background-color: #f0f0f0; overflow: hidden; gap: 0; line-height: 0;"
>
    <h1>Welcome to Good Reading Bookstore's API (TBD Part B)</h1>
    <p>I'm sorry but you don't have access to this Backend Server!</p>
</body>
</html>